/* Custom Styles */

#resources-list .icon {
    width: 50px;
    height: 50px;
}

#resources-list td {
	cursor: pointer;
}

#enabled_boxes label:first-child {
	margin-right: 100px;
}

#enabled_boxes label.error {
	position: absolute;
    top: 20px;
    width: 200px;
    display: table;
}

.form-control {
	color: #000;
}

.current_url img {
	max-width: 40%;
}

div.plupload_header {
	display: none;
}
.plupload_container {
	min-height: 175px;
}
.plupload_content {
	top: 5px;
}
a.plupload_start {
	display: none;
}